<div class="client-list">
  <div class="toolbar">
    <mat-form-field appearance="outline" class="champ-recherche">
      <mat-label>Rechercher un client</mat-label>
      <input matInput [(ngModel)]="recherche" (keyup.enter)="charger()" placeholder="Nom, email..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <span class="spacer"></span>

    <a mat-raised-button color="primary" routerLink="/clients/nouveau">
      <mat-icon>add</mat-icon> Nouveau client
    </a>
  </div>

  <table mat-table [dataSource]="clients" *ngIf="!chargement; else loading" class="mat-elevation-z1">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom / Raison sociale</th>
      <td mat-cell *matCellDef="let client">{{ nomAffiche(client) }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let client"><mat-chip>{{ client.type }}</mat-chip></td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client">{{ client.email }}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>
      <td mat-cell *matCellDef="let client">{{ client.telephone }}</td>
    </ng-container>

    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef>Ville</th>
      <td mat-cell *matCellDef="let client">{{ client.ville }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let client">
        <a mat-icon-button [routerLink]="['/clients', client.id, 'modifier']" title="Modifier">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="supprimer(client)" title="Supprimer">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colonnes"></tr>
    <tr mat-row *matRowDef="let client; columns: colonnes;"></tr>
  </table>

  <p class="vide" *ngIf="!chargement && clients.length === 0">Aucun client trouvé.</p>

  <ng-template #loading><p>Chargement...</p></ng-template>

  <mat-paginator
    *ngIf="!chargement"
    [length]="totalClients"
    [pageSize]="taillePage"
    [pageIndex]="pageCourante - 1"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="changerPage($event)"
  ></mat-paginator>
</div>
